*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}


.beenu {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    font-size: 10px;
   
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
  
}

h1{
    color: #06bbcc;
    padding-left: 5vw;
    padding-top: 3vh;
    font-size: 40px; 
    /* border: solid   ; */
    width: 20vw;
    text-align: center;
}
.kk1{
    color: aquamarine;
    background-color:antiquewhite; 
    /* border: solid; */
    height: 12vh;
    width:10vw;
    font-size: 15px;
}

.image{
    background-image: url("https://sharukh1.netlify.app/img/carousel-2.jpg");
    background-repeat: no-repeat;
    height: 110vh;  
    background-size: cover;
}
.prince{
    color: #06bbcc;
    padding-left:12vh;
    padding-top: 220px;
    font-size: 25px;
}

.left{
    color:white;
    font-size: 68px;
    padding-left: 12vh;
}

.right{
    color: white ;
    padding-left: 12vh;
    font-size: 19.5px;
}

.akash{
    border: solid;
    height: 50px;
    width: 120px;
    margin-left: 8vw;
    align-items: center;
    color:white;
    background-color: grey;
}

.akash1{
    border: solid;
    height: 50px;
    width: 140px;
    margin-left: 8vw;
    align-items: center;
}

.love , .love1 , .love2 , .love3{
    height: 30vh;
    width: 30vw;
    background-color: aqua;
    padding-top:3vh;
    font-size: 3vh;
}

.box{
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
    text-align: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.hh{
    height: 70vh;
    width: 54vw;
    padding-top: 5vh;
    padding-left: 20vw;
}

.lovely{
    display: flex;
}

.kkk{
    padding-top: 10vh;
    padding-left: 5vw;
}

h3{
    font-size: 1.8vw;
    color: #06bbcc;
}

h1{
    padding-left: 0vw;
}
p{
    font-size: 1vw;
}

button{
    color:red;
    background-color:aqua;
    border: solid;
    height: 8vh;
    width: 10vw;
}

.harsh{
    border: solid;
}


.oop{
    text-align: center;
}
.om{
    font-size: 2vw;
    /* border: solid; */
    color: black;
    width:100vw ;
}

.border{
    border: solid;
    height: 90vh;
}

.phone{
    background-image: url('https://sharukh1.netlify.app/img/cat-1.jpg');
    height: 50vh;
    background-repeat: no-repeat;
   
}